head { 
    display: none;
}

body {
    background-color: lightblue;
}

h1{
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align: center;
}

h2{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align: center;
}

.counter{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align: center;
	text-align: center;
}




